@using GCD0901AppDev.Utils
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  @if (!User.Identity.IsAuthenticated)
  {
    <h3>New User ???</h3>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-danger">Register your account</a>

  }
  else
  {
    if (User.IsInRole(Role.ADMIN))
    {
      <p>Manage Category</p>
      <p>Manage User Accounts</p>
    }
    if (User.IsInRole(Role.USER))
    {
      <a asp-controller="Todoes" asp-action="Index" class="btn btn-primary">Go to your Todoes</a>
    }
  }
</div>
