@using GCD0901AppDev.ViewModels
@model TodoCategoriesViewModel

<h1>Create a new Todo</h1>

<form enctype="multipart/form-data" asp-controller="Todoes" asp-action="Create" method="post">
  <div class="form-group">
    <label>Description</label>
    <input asp-for="Todo.Description" class="form-control" placeholder="Todo Description ..." />
    <span asp-validation-for="Todo.Description" class="text-danger"></span>
  <div class="form-group">
    <label>Category</label>
      <select 
        asp-for="Todo.CategoryId" 
        asp-items="@(new SelectList(Model.Categories, "Id", "Description"))" 
        class="form-control">
      </select>
  </div>
  <div class="form-group">
        <dl>
        <dt>
            <label asp-for="@Model.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="@Model.FormFile" type="file">
        </dd>
    </dl>
  </div>

  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>